

<div class="container">
    <h1 class="text-center fw-bolder">Division</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 border border-2 shadow p-4">
            <div class="mb-3">
                <label for="">Num1</label>
                <input type="text" class="form-control" placeholder="enter number1" #num1>
            </div>
            <div class="mb-3">
                <label for="">Num2</label>
                <input type="text" class="form-control" placeholder="enter number2" #num2>
            </div>
            <div class="mb-3">
                <button (click)="division(num1,num2)" class="btn btn-primary">Division</button>
            </div>
            <h5>output: {{result}}</h5>
        </div>
        <div class="col-3"></div>
    </div>
</div>